<head>
  <style>
    h1 {
      color: whitesmoke;
  text-shadow: 3px 3px 5px #000000;
}
  h1 {
  text-decoration: underline;
}
    body {
      background-image: url("https://images5.alphacoders.com/615/615366.jpg");
      background-size: cover;
      min-height: 101%;
      min-width: 101%;
      background-position: center center;
      height: 690px;
    }
  </style>
</head>

<body>
  <div id="myDIV">
<h1>GLOBAL TRAVELS</h1>


'<body>
<form action="" method="post">
  
    <label style="color: #f8f4f4; for="username"  >Username</label><br>
    <input type="text"  name="username" value="username" required ><br>

    <label style="color: #f8f4f4;  for="password"  >Password</label><br>
    <input type="password"  name="password" required ><br></br>

    <input type="submit" name="action" value="login" >
    <input type="submit" name="action"value="signup" ><br></br>
  </form>
  
<!DOCTYPE html>
<html>

<body>